
body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 940px;
    margin: auto;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
}    

.sidebyside {
    display: flex;
    flex-direction: row;
    /* border: 3px dashed purple; */
}

header, h1, nav, .sidebyside, section, p, .article, #articleheader, aside, footer {

    /* border: 3px solid black; */
    margin: 10px;


}
header, nav, section, aside, footer, .insidebox {
    background-color: lightgray;
    text-align: center;
        margin: 10px;

}

header, hav, footer {
    height: 95px;
    /* text-align: center; */
}

#articlecontainer {
    width: 515px;
}

aside {
    width: 405px;
    /* margin: 10px; */
}
.article {
    background-color: gray;
}

/* #articleheader {

} */
